<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nova Senha</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styleConcluido.css">
</head>
<body>
  <img src="Bolinha listras superior.png" class="texturaC">
    <img src="Bolinha listras dir.png" class="texturaBD">
    <img src="Bolinha listras esq.png" class="texturaBE">

    <img src="fotoJustica.jpg" class="fotoo">
    <div class="container">
       
        <center><div class="content">
            <img src="check.png" alt="Check" class="icon-check">
            <h1>Senha atualizada</h1>
            <p>Sua nova senha foi registrada. Faça login em nossa plataforma!</p>
            <button onclick="window.location.href='login.html'">Login</button>
        </div></center>
    </div>
</body>
</html>
